# {{ ansible_managed }}
---
version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: '{{ pihole_hostname }}'
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: '{{ pihole_timezone }}'
      WEBPASSWORD: '{{ pihole_password }}'
      ServerIP: '{{ ansible_facts['default_ipv4']['address'] }}'
      QUERY_LOGGING: 'true'
      DNSMASQ_LISTENING: single
      PIHOLE_DNS_1: 1.1.1.2
      PIHOLE_DNS_2: 1.0.0.2
      DNS_FQDN_REQUIRED: 'false'
      DNS_BOGUS_PRIV: 'false'
      DNSSEC: 'true'
      REV_SERVER: 'true'
      REV_SERVER_CIDR: 192.168.0.0/16
      REV_SERVER_TARGET: 192.168.1.1
      REV_SERVER_DOMAIN: 
      ADMIN_EMAIL: drobinett@gmail.com
      WEBUIBOXEDLAYOUT: boxed
      TEMPERATUREUNIT: f
    dns:
      - 127.0.0.1
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
